# Sets
- unordered collection data type that is iterable, mutable, and has no duplicate elements
- Python's set class represents the mathematical notion of a set.
- based on a data structure known as a hash table

In [1]:
#Defininig empty set
set_var= set ()
print (set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
# has no duplicates
set_var={1,2,3,4,4}
set_var

{1, 2, 3, 4}

In [5]:
# inbilt functions in set
# no indexing se approach here 

set_var.add("Hulk")
set_var

{1, 2, 3, 4, 'Hulk'}

In [6]:
# difference update
set1= {'Avengers', 'IronMan','HitMan'}
set2= {'Avengers', 'IronMan','HitMan', 'Hulk2'}
set2.difference(set1)

{'Hulk2'}

In [8]:
# just taking out the difference isnt enough,one will have to update it as well. Otherswise same set ayega, same with intersection
set2.difference_update(set1)
set2

{'Hulk2'}

In [9]:
# gives the common one
set1= {'Avengers', 'IronMan','HitMan'}
set2= {'Avengers', 'IronMan','HitMan', 'Hulk2'}
set2.intersection(set1)
set2

{'Avengers', 'HitMan', 'Hulk2', 'IronMan'}

In [10]:
set2.intersection_update(set1)
set2

{'Avengers', 'HitMan', 'IronMan'}

# Dictionaries
- a collection which is unordered, changeable and indexed.
- written with curly brackets, and they have keys and values.

In [ ]:
#whenever learning any DS, see if you can retrive the items using the indexes or not

In [11]:
#creating dictionary
my_dict= {"Car1": "Audi1", "Car2": "BMW", "Car3": "Mercedes Benz"}
type(my_dict)

dict

In [13]:
#access them based on values on key
my_dict['Car1']

'Audi1'

In [14]:
# Can loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [15]:
# Can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi1
BMW
Mercedes Benz

In [16]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi1')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [19]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'
my_dict

{'Car1': 'Audi1', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

In [22]:
 #if we repeat the dictionary key, the value will get replaced, overappend, overwrite
my_dict['Car1'] = 'Maruti'
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

# Nested Dictionary

In [23]:
car1_model = {"mercedes":1960}
car2_model= {'Audi':1970}
car3_model= {'Ambassador': 1980}

car_type= {'car1': car1_model, 'car2': car2_model, 'car3': car3_model}
car_type

{'car1': {'mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [25]:
#how do you retrieve one of the values in the nested dictionary? eg: 1960?

#1: Access items in dictionary
car_type['car1']

{'mercedes': 1960}

In [27]:
#apply one more indexes
car_type['car1']['mercedes']

1960

# Tuples
- once defined it, we cannot change it
- tuple object does not suport item assignment!!
- whole item can be changes, but elements cant be changed
- Used where definition of items are requireed once only

In [29]:
## create an empty Tuples

my_tuple=tuple()

In [30]:
type(my_tuple)

tuple

In [ ]:
my_tuple=("Maria","Ahmed","Hassaan")

In [ ]:
my_tuple=("Maria","Ahmed","Hassaan")
my_tuple[]