# Python Basics

-> Data types

In [1]:
'''
Multi
Line 
Comment

 For every languae you need a compiler, so Kernel provides that. Restart
 
'''

'\nMulti\nLine \nComment\n\n For every languae you need a compiler, so Kernel provides that. Restart\n \n'

In [2]:
10%2

0

In [3]:
10**2

100

In [4]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [5]:
type(1)

int

In [6]:
type(0.236)

float

In [7]:
type(0.2356565654645646)

float

# Strings

In [ ]:
# both "" and '' is the same
need to get the type of a random variable first

In [8]:
print ("relearning stuff")

relearning stuff

In [11]:
f_name= 'Maria'
l_name= 'Ahmed'

In [12]:
print("My first name is {} and last name is  {}".format(f_name, l_name))
#order of the paramters is important

My first name is Maria and last name is  Ahmed

In [13]:
len('MariaAhmed')

10

type([1,2,9,7,45])

# Python Data Structures and Boolean

- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean
- The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value.
- Written as False and True, respectively.

In [19]:
# shift+tab to see what the function dies, checks if all chars are number
my_str= 'MariaAhmed1996'
my_str.isalnum()

True

In [20]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
False
False
False
False
False
False

# Lists
*Mutable, changeable, ordered sequence of elements*

In [24]:
#making a list
lst= list()

In [31]:
lst= ['Maths', 'Chemistry', 100, 200, 600, 204]
len(lst)

6

In [29]:
# total number of items
type(lst)

list

# Append

In [32]:
#append is used to add elements in the list
lst.append("AstroPhysics")

In [34]:
lst

['Maths', 'Chemistry', 100, 200, 600, 204, 'AstroPhysics']

In [35]:
#indexing in list, starts with 0
lst[3]

200

In [36]:
lst [:]
#equal spaces from both sides

['Maths', 'Chemistry', 100, 200, 600, 204, 'AstroPhysics']

In [37]:
lst [2:]
#second value will be included, while last in exclusive

[100, 200, 600, 204, 'AstroPhysics']

In [45]:
lst.append(["John", "Bala"])
# will be appeneded as a nested list

In [46]:
lst

[1, 2, 3, 4, 5, 6, 8, 8, 9, ['Hey', 'World'], ['John', 'Bala']]

In [47]:
lst.append(["Hey", "World"])
lst

[1,
 2,
 3,
 4,
 5,
 6,
 8,
 8,
 9,
 ['Hey', 'World'],
 ['John', 'Bala'],
 ['Hey', 'World']]

# Insert
Situation: Add data on particular indexes

In [48]:
#by default end mai append houta hai sab
lst.insert (1, 'Marialaa')
lst

[1,
 'Marialaa',
 2,
 3,
 4,
 5,
 6,
 8,
 8,
 9,
 ['Hey', 'World'],
 ['John', 'Bala'],
 ['Hey', 'World']]

# Extend

In [43]:
lst = [1,2,3,4,5,6,8]
lst.extend([8,9])
# as a separate value add hoga, not a nested one just like in append
lst

[1, 2, 3, 4, 5, 6, 8, 8, 9]

# Various Operations that we can perform in List¶

In [49]:
lst1 = [5,5,5,5,5]
sum(lst1)

25

In [50]:
lst1.pop()
# removes last value by default, otherwise mention

5

In [55]:
lst*2
# not multiplied by 2, but the list will be appended again

[9, 8, 5, 4, 3, 2, 1, 3, 6, 4, 9, 8, 5, 4, 3, 2, 1, 3, 6, 4]

# Count (): Calculates total occurence of given element in list

In [51]:
lst = [9,8,5,4,3,2,1,3,6,4]
lst.count(3)

2

In [52]:
# index() Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(9)

0

In [53]:
min(lst)

1

In [54]:
max(lst)

9